<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">

  </head>
  <body>
<div>
<h1></h1>
</div>
<div class ="container">
<img class = "homePageBeer" src="/images/beer.png" alt="Beer image">

    <button class="button" onclick="window.location.href='/beers'">Check the Beers!</button>
    <button class="button" onclick="window.location.href='/random-beer'">Check a Random Beer</button>
    </div>
  </body>
</html>